// namespaced
.playlist {

  $primary: #272726;
  $secondary: #607D8B;

  padding: 0px;
  overflow-y: scroll;
  height: 50vh;
  display: flex;
  flex-direction: column;

  .track {
    cursor: pointer;
    padding: 7px;
  
    &:hover {
      // background: rgb(0, 160, 255);
      background: lightgrey;
    }

    &:after {
      content: "";
      display: table;
      clear: both; 
    }

    // &.now-playing {
    //   box-shadow: 0 5px 8px -6px black;
    // }

    .icon-container {
      float: left;
      margin-right: 10px;

      .now-playing, .play {
        margin-top: 13px;
        width: 20px;
        height: 20px;
      }
    }

    .meta-data {
      float: left;
      width: calc( 100% - 110px ); 

      .title {
        color: $primary;
        font-size: 16px;
        display: block;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 

        &.bold {
          font-weight: 450;
        }
      }

      .artist {
        color: $secondary;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
    
    .duration {
      float: left;
      width: 55px;
      text-align: center;
      line-height: 45px;
      color: $secondary;
      font-size: 16px;
      font-weight: 500; 
    }
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  // Track
  // &::-webkit-scrollbar-track {
  //
  // }

  // Handle
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;

    // Handle on hover
    &:hover {
      background: rgb(0, 160, 255);
    }
  }
}
