// namespaced
.player {
  
  $background-blue: #202136;

  border-radius: 10px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 460px;
  -webkit-font-smoothing: antialiased;

  // border styling for the controls
  .control-border {
    border: solid rgba(255, 255, 255, 0.5) 2px;
    border-radius: 50px;

    &:hover {
      border: solid rgba(255, 255, 255, 1) 2px;
    }
  }

  .thumbnail, .visualizer {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: contain;
  }

  .bottom-container {
    background-color: $background-blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -5px; // TODO
    
    progress.track-progress {
      background-color: #313252;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 15px;
      display: block;
      cursor: pointer;
      border: none; 
    }
      
    progress.track-progress:not([value]) {
        background-color: #313252; 
    }
    
    progress[value]::-webkit-progress-bar {
      background-color: #313252; 
    }
    
    progress[value]::-moz-progress-bar {
      background-color: #00a0ff; 
    }
    
    progress[value]::-webkit-progress-value {
      background-color: #00a0ff; 
    }

    .time-container {
      opacity: 0.5;
      font-family: 'Open Sans';
      font-weight: 100;
      font-size: 12px;
      color: #fff;
      height: 15px; 

      .current-time {
        float: left;
        margin-left: 5px;
      }

      .duration {
        float: right;
        margin-right: 5px;
      }
    }

    .control-container {
      padding-bottom: 10px;
      margin-top: 10px;
      display: inline-flex;
      color: white;

      .play-pause {
        width: 74px;
        height: 74px;
        cursor: pointer;
        background-color: $background-blue;
        z-index: 3;

        &.paused::after {
          content: 'Play';
        }

        &.playing::after {
          content: 'Pause';
        }
      }

      .prev {
        width: 59px;
        height: 59px;
        margin-top: 8px;
        cursor: pointer;
        position: relative;
        left: 15px;

        &::after {
          content: 'Prev';
        }
      }

      .next {
        width: 59px;
        height: 59px;
        margin-top: 8px;
        cursor: pointer;
        position: relative;
        right: 15px;
        
        &::after {
          content: 'Next';
        }
      }
    }

    .toggle-visualizer {
      background: cadetblue;
    }

    .meta-container {
      width: 100%;
      text-align: center;
      color: white;

      padding: 5px 5px 5px 5px;

      .track-name {
        font-size: 18px;
        color: #fff;
        // display: flex;
      }

      .track-author {
        font-weight: 100;
        font-size: 14px;
        color: #fff;
        display: block;
      }
    }

    .control-container:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}